body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.timeslot-booked {
    background-color: lightsalmon;
}

.timeslot-free {
    background-color: lightgreen;
}

.timeslot-own {
    background-color: yellow;
}

.timeslot-disabled {
    background-color: lightgray;
}

footer p {
    text-align: center;
}

#active-partner-name {
    position: relative;
    float: right;
    top: 15px;
    color: lightgray;
}

#login-form {
    width: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid darkgray;
    background-color: lightgray;
}

#login-table {
    margin: auto;
}

#login-table table tr td {
    padding-bottom: 5px;
}

#registration-form {
    margin-top: 20px;   
}

#registration-table table tr td {
    padding-bottom: 5px;
}

.failureNotification span {
    align-content: center;
    font-size: 100%;    
    line-height: 14pt;
    color: Red;
    line-height: 14pt;
    vertical-align: top;
    text-decoration: none;
    padding-bottom: 5pt;
    padding-top: 10pt;
}