@{
    ViewData["Title"] = "Foglalás";
}
@model HomeViewModel

<div>
    <form asp-controller="Home" asp-action="ResetDate">
        <div asp-validation-summary="ModelOnly" class="failureNotification"></div>
        <input asp-for="Date" />
        <span asp-validation-for="Date"></span>
        <input type="submit" value="Elküld" class="button" />
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td>
                    Dátum
                </td>
                <td>
                    Szerelő1
                </td>
                <td>
                    Szerelő2
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>9-10</th>
            </tr>
            <tr>
                <th>10-11</th>
            </tr>
            <tr>
                <th>11-12</th>
            </tr>
            <tr>
                <th>12-13</th>
            </tr>
            <tr>
                <th>13-14</th>
            </tr>
            <tr>
                <th>14-15</th>
            </tr>
            <tr>
                <th>15-16</th>
            </tr>
            <tr>
                <th>16-17</th>
            </tr>
        </tbody>
    </table>
</div>
