@{
    ViewData["Title"] = "Foglalás";
}
@model HomeViewModel

<div>
    <form asp-controller="Home" asp-action="ResetDate" class="form-inline">
        <div class="form-group">
            <label>Adja meg a kívánt dátumot:</label>
        </div>
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="failureNotification"></div>
            <input asp-for="Date" />
            <span asp-validation-for="Date"></span>
        </div>
        <input type="submit" value="Elküld" class="btn btn-primary" />
    </form>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                </th>
                @foreach (String name in Model.Mechanics)
                {
                    <th>
                        @name
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>9-10h</th>
            </tr>
            <tr>
                <th>10-11h</th>
            </tr>
            <tr>
                <th>11-12h</th>
            </tr>
            <tr>
                <th>12-13h</th>
            </tr>
            <tr>
                <th>13-14h</th>
            </tr>
            <tr>
                <th>14-15h</th>
            </tr>
            <tr>
                <th>15-16h</th>
            </tr>
            <tr>
                <th>16-17h</th>
            </tr>
        </tbody>
    </table>
</div>
